.sidebar {
    width: 300px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    border-right: 1px solid #212121;
    border-left: 1px solid #212121;
    margin-left: 80px;
}

.sidebar ul {
    list-style-type: none;
    text-align: right;
    padding: 0;
    
}

.sidebar ul li a {
    display: block;
    padding: 32px;
    text-decoration: none;
    font-size: 16px;
    color: #C9C9C9;
    border-bottom: 1px solid #212121;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    color: #F3D8A2;
    font-weight: 700;
}
