.App {
    background-color: #070707;
    min-height: 100vh;
    font-family: "Urbanist", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

.page-content {
    padding-top: 200px;
}

